In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV ,SGDClassifier
from sklearn.model_selection import LearningCurveDisplay, ShuffleSplit

In [2]:
print(os.getcwd())
file_path = r"C:\Users\josec\Documents\FIUNA\9no\IA\datosRendimiento\datasets\datos_CB.csv"
student_data = pd.read_csv(file_path)
student_data.info()

C:\Users\josec\Documents\FIUNA\9no\IA\cursoIA\datosRendimiento
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97341 entries, 0 to 97340
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  97341 non-null  int64
 1   Unnamed: 0    97341 non-null  int64
 2   ciclo         97341 non-null  int64
 3   Cod.Asign     97341 non-null  int64
 4   Asignatura    97341 non-null  object
 5   Cod.Car.Sec   97341 non-null  object
 6   Cod.Curso     97341 non-null  int64
 7   Convocatoria  97341 non-null  int64
 8   Anho          97341 non-null  int64
 9   Semestre      97341 non-null  int64
 10  Aprobado      97341 non-null  int64
 11  Anho.Firma    97341 non-null  int64
 12  Primer.Par    97341 non-null  int64
 13  Segundo.Par   97341 non-null  int64
 14  AOT           97341 non-null  int64
 15  Primer.Rec    97341 non-null  int64
 16  Segundo.Rec   97341 non-null  int64
 17  Nota.Final    97341 non-null  object
 18  Asis          97341 non-null  float64
 19  4P_60         0 non-null      float64
 20  id_anony      97341 non-null  object
 21  Nota.Prom     97341 non-null  float64
dtypes: float64(3), int64(15), object(4)
memory usage: 16.3+ MB

In [3]:
columns = ['Unnamed: 0.1', 'Unnamed: 0', "Cod.Asign", 'Asis', '4P_60',"Cod.Curso",'Segundo.Par','Primer.Rec','Segundo.Rec','AOT', "Cod.Car.Sec", "Semestre"] #el id_anony podriamos usar despues
if columns[0] in student_data:
    student_data.drop(columns,axis=1, inplace= True)
student_data.head()

,ciclo,Asignatura,Convocatoria,Anho,Aprobado,Anho.Firma,Primer.Par,Nota.Final,id_anony,Nota.Prom
0,1,CALCULO 3,1,2012,0,0,0,[0],es_253,0.0
1,1,FISICA 4,1,2012,0,2012,19,[0],es_254,0.0
2,1,FISICA 4,1,2012,1,2012,17,[3],es_255,3.0
3,1,FISICA 4,1,2012,0,0,0,[0],es_256,0.0
4,1,FISICA 4,1,2012,0,0,16,[0],es_257,0.0

In [4]:
#todo esto puede ser un diccionario con numpy unique y queda re loco
course = "ESTATICA"
condition = student_data["Asignatura"] == course
course_data = student_data[condition]
print(course_data.head())
course_data.drop(["Asignatura"],axis=1, inplace = True)
print("\n",len(course_data))
course_data.head()

      ciclo Asignatura  Convocatoria  Anho  Aprobado  Anho.Firma  Primer.Par  \
5258      2   ESTATICA             1  2012         0           0           2
5259      2   ESTATICA             1  2012         0           0           6
5260      2   ESTATICA             1  2012         1        2012          12
5261      2   ESTATICA             1  2012         0           0           1
5262      2   ESTATICA             1  2012         0           0           0

     Nota.Final id_anony  Nota.Prom
5258        [0]   es_469        0.0
5259        [0]   es_470        0.0
5260        [2]   es_175        2.0
5261        [0]   es_910        0.0
5262        [0]  es_1475        0.0

 4824

C:\Users\josec\AppData\Local\Temp\ipykernel_28148\3788498998.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  course_data.drop(["Asignatura"],axis=1, inplace = True)

,ciclo,Convocatoria,Anho,Aprobado,Anho.Firma,Primer.Par,Nota.Final,id_anony,Nota.Prom
5258,2,1,2012,0,0,2,[0],es_469,0.0
5259,2,1,2012,0,0,6,[0],es_470,0.0
5260,2,1,2012,1,2012,12,[2],es_175,2.0
5261,2,1,2012,0,0,1,[0],es_910,0.0
5262,2,1,2012,0,0,0,[0],es_1475,0.0

In [5]:
course_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4824 entries, 5258 to 95192
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ciclo         4824 non-null   int64
 1   Convocatoria  4824 non-null   int64
 2   Anho          4824 non-null   int64
 3   Aprobado      4824 non-null   int64
 4   Anho.Firma    4824 non-null   int64
 5   Primer.Par    4824 non-null   int64
 6   Nota.Final    4824 non-null   object
 7   id_anony      4824 non-null   object
 8   Nota.Prom     4824 non-null   float64
dtypes: float64(1), int64(6), object(2)
memory usage: 376.9+ KB

In [6]:
previous_course = 'ALGEBRA LINEAL 2'
condition = student_data["Asignatura"] == previous_course
previous_course_data = student_data[condition]
print(previous_course_data.head())
previous_course_data = previous_course_data[["id_anony","Nota.Prom"]]
print("\n",len(previous_course_data))
previous_course_data = previous_course_data.rename(columns={'Nota.Prom' : 'Nota.Prom.Previo'})

      ciclo        Asignatura  Convocatoria  Anho  Aprobado  Anho.Firma  \
2566      1  ALGEBRA LINEAL 2             1  2012         0           0
2567      1  ALGEBRA LINEAL 2             1  2012         0        2011
2568      1  ALGEBRA LINEAL 2             1  2012         0           0
2569      1  ALGEBRA LINEAL 2             1  2012         0        2011
2570      1  ALGEBRA LINEAL 2             1  2012         0           0

      Primer.Par Nota.Final id_anony  Nota.Prom
2566          10        [0]  es_1102        0.0
2567           0        [0]    es_97        0.0
2568           0        [0]  es_1104        0.0
2569          16     [1, 1]  es_1092        1.0
2570          14        [0]   es_482        0.0

 5238

In [7]:
previous_course_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5238 entries, 2566 to 93106
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_anony          5238 non-null   object
 1   Nota.Prom.Previo  5238 non-null   float64
dtypes: float64(1), object(1)
memory usage: 122.8+ KB

In [14]:
result = pd.merge(course_data, previous_course_data, left_on="id_anony",right_on="id_anony", how = 'inner')
result

,ciclo,Convocatoria,Anho,Aprobado,Anho.Firma,Primer.Par,Nota.Final,id_anony,Nota.Prom,Nota.Prom.Previo
0,2,1,2012,0,0,0,[0],es_1102,0.0,0.0
1,2,1,2013,0,0,0,[0],es_1102,0.0,0.0
2,2,1,2012,1,2012,13,[2],es_1092,2.0,1.0
3,2,1,2012,1,2012,13,[2],es_1092,2.0,2.0
4,2,1,2012,0,0,8,[0],es_482,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
7563,1,1,2021,0,0,0,[0],es_4184,0.0,0.0
7564,1,1,2021,0,0,0,[0],es_4184,0.0,4.0
7565,1,1,2021,0,0,0,[0],es_3329,0.0,0.0
7566,1,1,2021,0,0,0,[0],es_3329,0.0,0.0
7567,1,1,2021,0,0,0,[0],es_4339,0.0,0.0

In [9]:
condition = course_data['id_anony'].values
condition = previous_course_data['id_anony'].isin(condition)
previous_course_data['id_anony'] = previous_course_data['id_anony'][condition]
previous_course_data.dropna(inplace=True)

      id_anony  Nota.Prom.Previo
2566   es_1102               0.0
2568   es_1104               0.0
2569   es_1092               1.0
2570    es_482               0.0
2571    es_486               2.5
...        ...               ...
92914  es_1752               0.0
92949  es_3648               0.0
92953  es_2894               1.0
92967  es_2904               2.0
92970  es_2464               2.0

[3564 rows x 2 columns]

In [26]:
result = pd.concat([course_data,previous_course_data],axis=0)
print(result.dropna(subset='Nota.Prom'))

       ciclo  Convocatoria    Anho  Aprobado  Anho.Firma  Primer.Par  \
5258     2.0           1.0  2012.0       0.0         0.0         2.0
5259     2.0           1.0  2012.0       0.0         0.0         6.0
5260     2.0           1.0  2012.0       1.0      2012.0        12.0
5261     2.0           1.0  2012.0       0.0         0.0         1.0
5262     2.0           1.0  2012.0       0.0         0.0         0.0
...      ...           ...     ...       ...         ...         ...
95188    1.0           1.0  2021.0       0.0         0.0         0.0
95189    1.0           1.0  2021.0       0.0         0.0         0.0
95190    1.0           1.0  2021.0       0.0         0.0         0.0
95191    1.0           1.0  2021.0       0.0         0.0         0.0
95192    1.0           1.0  2021.0       0.0         0.0         0.0

      Nota.Final id_anony  Nota.Prom  Nota.Prom.Previo
5258         [0]   es_469        0.0               NaN
5259         [0]   es_470        0.0               NaN
5260         [2]   es_175        2.0               NaN
5261         [0]   es_910        0.0               NaN
5262         [0]  es_1475        0.0               NaN
...          ...      ...        ...               ...
95188        [0]  es_4831        0.0               NaN
95189        [0]  es_4339        0.0               NaN
95190        [0]  es_4530        0.0               NaN
95191        [0]  es_3331        0.0               NaN
95192        [0]  es_4532        0.0               NaN

[4824 rows x 10 columns]