In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [39]:
df= pd.read_csv("datos\datosConcatenados.csv")

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221822 entries, 0 to 221821
Data columns (total 23 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    221822 non-null  int64
 1   danho         221822 non-null  int64
 2   ciclo         221822 non-null  int64
 3   Cod.Asign     221822 non-null  int64
 4   Asignatura    221822 non-null  object
 5   Cod.Car.Sec   221822 non-null  object
 6   Cod.Curso     221822 non-null  int64
 7   Convocatoria  221822 non-null  int64
 8   Anho          221822 non-null  int64
 9   Semestre      221822 non-null  int64
 10  Aprobado      221822 non-null  object
 11  Anho.Firma    221822 non-null  int64
 12  Primer.Par    221822 non-null  int64
 13  Segundo.Par   221822 non-null  int64
 14  AOT           221822 non-null  int64
 15  Primer.Rec    221822 non-null  int64
 16  Segundo.Rec   221822 non-null  int64
 17  Nota.Final    137062 non-null  object
 18  Tercer.Par    221822 non-null  float64
 19  Asis          221822 non-null  float64
 20  Cuarto.Par    28037 non-null   float64
 21  4P_60         28037 non-null   float64
 22  id_anony      221822 non-null  object
dtypes: float64(4), int64(14), object(5)
memory usage: 38.9+ MB

In [4]:
#flag=df["Asignatura"]=="CALCULO 1"

In [89]:
np.unique(df["Aprobado"])

array(['N', 'S'], dtype=object)

In [6]:
#np.unique(df["Asignatura"])

In [42]:
df["Asignatura"] = df["Asignatura"].str.replace(' +', ' ')
df["Asignatura"] = df["Asignatura"].str.strip()
#np.unique(df["Asignatura"])

C:\Users\josec\AppData\Local\Temp\ipykernel_7180\2162127425.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Asignatura"] = df["Asignatura"].str.replace(' +', ' ')

In [43]:
df

,Unnamed: 0,danho,ciclo,Cod.Asign,Asignatura,Cod.Car.Sec,Cod.Curso,Convocatoria,Anho,Semestre,...,Segundo.Par,AOT,Primer.Rec,Segundo.Rec,Nota.Final,Tercer.Par,Asis,Cuarto.Par,4P_60,id_anony
0,0,2012,1,2402,COMBUSTION,INT9MECANI,13,1,2012,1,...,0,0,0,0,NaN,0.0,1.0,NaN,NaN,es_0
1,1,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,...,14,8,0,0,1F-5,0.0,1.0,NaN,NaN,es_1
2,2,2012,1,2402,COMBUSTION,INT9MECANI,13,1,2012,1,...,23,9,0,0,1F-5,0.0,1.0,NaN,NaN,es_2
3,3,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,...,14,8,0,0,"1F-1,2F-2",0.0,1.0,NaN,NaN,es_3
4,4,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,...,4,8,0,0,NaN,0.0,1.0,NaN,NaN,es_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221817,15045,2021,1,5746,PROCESOS DE FABRICACION,MCT9-OPT,13,1,2021,1,...,0,0,0,0,NaN,0.0,1.0,NaN,NaN,es_3105
221818,15046,2021,1,5746,PROCESOS DE FABRICACION,MCT9-OPT,13,1,2021,1,...,26,10,0,0,NaN,0.0,1.0,NaN,NaN,es_2036
221819,15047,2021,1,5746,PROCESOS DE FABRICACION,MCT9-OPT,13,1,2021,1,...,26,10,0,0,1F-5,0.0,1.0,NaN,NaN,es_2397
221820,15048,2021,1,5746,PROCESOS DE FABRICACION,MCT9-OPT,13,1,2021,1,...,0,0,0,0,NaN,0.0,1.0,NaN,NaN,es_2917
221821,15049,2021,1,5746,PROCESOS DE FABRICACION,MCT9-OPT,13,1,2021,1,...,0,0,0,0,NaN,0.0,1.0,NaN,NaN,es_2504

In [88]:
#print(df['Nota.Final2'])
df['Nota.Final'] = df['Nota.Final'].replace(regex=['1F-','2F-','3F-'],value= '')
df['Nota.Final'] = np.where(~(df['Nota.Final'].isnull()),df['Nota.Final'].str.split(','),df['Nota.Final'])
df['Nota.Final']

0            NaN
1            [5]
2            [5]
3         [1, 2]
4            NaN
           ...
221817       NaN
221818       NaN
221819       [5]
221820       NaN
221821       NaN
Name: Nota.Final, Length: 221822, dtype: object

In [7]:
majors = ['CGF','CIV','ECA','ELE','IND','INT','MCT','MEC']
majors_dict = {}
for major in majors:
     #carrera=pd.concat([carrera, df[df["Cod.Car.Sec"]==car]], axis=0)
    condition = df["Cod.Car.Sec"].str[:3] == major
    majors_dict[major] = df[condition]
    #    carrera

In [9]:
for major in majors:
    condition = majors_dict[major]['Cod.Curso'] > 4
    #print(condition)
    majors_dict[major] = majors_dict[major][condition]

In [11]:
%%capture
for major in majors:
    print(majors_dict[major].head())

In [12]:
%%capture
for major in majors:
    print(np.unique(majors_dict[major]["Cod.Curso"]))

In [14]:
print("Number of students in specific courses ")
for major in majors:
    print(major,len(np.unique(majors_dict[major].id_anony.values)))

Number of students in specific courses
CGF 333
CIV 1642
ECA 392
ELE 1242
IND 771
INT 1805
MCT 672
MEC 701

In [15]:
if "CC" not in majors:
    majors.append("CC")
print(majors)

['CGF', 'CIV', 'ECA', 'ELE', 'IND', 'INT', 'MCT', 'MEC', 'CC']

In [18]:
%%capture
condition = df['Cod.Curso'] <= 4
majors_dict["CC"] = df[condition]
majors_dict["CC"]

In [19]:
for major in majors:
    name = "datos"+"_"+str(major)+".csv"
    majors_dict[major].to_csv(name)

In [98]:
%%capture
for major in majors:
    columns = ["Aprobado","Primer.Par","Segundo.Par","AOT","Primer.Rec","Segundo.Rec","Nota.Final","Asis","id_anony"]
    print(majors_dict[major][columns].describe())
    print("#############################################################")

In [ ]:
#Hasta aca son cosas que hice, a filtrar

new_df=pd.DataFrame(columns=["Id","First attemp year","First attemp period ","Pass year","Pass period"])
for student in students:
    student_dict = {} 
    df[df.id_anony.values==df]
    if(np.sum(registro["Cod.Curso"].values==1)>=1 and np.sum(registro["Cod.Curso"].values==4)>=1):
        if()
            break

In [ ]:
registro

In [ ]:
flagPasaron=np.logical_and(carrera.Asignatura.values=="CALCULO 1", carrera["Aprobado"]=="S")
carreraP=carrera[flagPasaron]

In [ ]:
carreraP.info()

In [ ]:
flagFirma2011=carreraP["Anho.Firma"]==2011

carreraPL=carreraP[~flagFirma2011]

In [ ]:
carreraPL.info()

In [ ]:
flagNoPasaron=np.logical_and(carrera.Asignatura.values=="CALCULO 1",carrera["Aprobado"]=="N")
carreraNP=carrera[flagNoPasaron]
carreraNP.info()

In [ ]:
carreraNP.head()

In [ ]:
carreraPLN=pd.merge(carreraPL, carreraNP, on=['id_anony'], how='right')

In [ ]:
carreraPLN.info()

In [ ]:
carreraPLN[["Aprobado_x","Aprobado_y"]].values[0:10]

In [ ]:
for asig in asignaturas:
    flag=df.Asignatura.values==asig
    print(np.sum(df["Aprobado"][flag]=="S"))