In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv("datos\datosConcatenados.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221822 entries, 0 to 221821
Data columns (total 23 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    221822 non-null  int64
 1   danho         221822 non-null  int64
 2   ciclo         221822 non-null  int64
 3   Cod.Asign     221822 non-null  int64
 4   Asignatura    221822 non-null  object
 5   Cod.Car.Sec   221822 non-null  object
 6   Cod.Curso     221822 non-null  int64
 7   Convocatoria  221822 non-null  int64
 8   Anho          221822 non-null  int64
 9   Semestre      221822 non-null  int64
 10  Aprobado      221822 non-null  object
 11  Anho.Firma    221822 non-null  int64
 12  Primer.Par    221822 non-null  int64
 13  Segundo.Par   221822 non-null  int64
 14  AOT           221822 non-null  int64
 15  Primer.Rec    221822 non-null  int64
 16  Segundo.Rec   221822 non-null  int64
 17  Nota.Final    137062 non-null  object
 18  Tercer.Par    221822 non-null  float64
 19  Asis          221822 non-null  float64
 20  Cuarto.Par    28037 non-null   float64
 21  4P_60         28037 non-null   float64
 22  id_anony      221822 non-null  object
dtypes: float64(4), int64(14), object(5)
memory usage: 38.9+ MB

In [4]:
df["Asignatura"] = df["Asignatura"].str.replace(' +', ' ')
df["Asignatura"] = df["Asignatura"].str.strip()
np.unique(df["Asignatura"])
np.unique(df["Cod.Car.Sec"])

C:\Users\josec\AppData\Local\Temp\ipykernel_26236\884411130.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Asignatura"] = df["Asignatura"].str.replace(' +', ' ')

array(['CGF-175-09', 'CGF-PLS09 ', 'CGF-PLS13 ', 'CIV-175-09',
       'CIV-PLS09 ', 'CIV-PLS13 ', 'ECA-175-09', 'ECA-PLS09 ',
       'ECA-PLS13 ', 'ECA9-OPT  ', 'ELE-175-09', 'ELE-PLS09 ',
       'ELE-PLS13 ', 'IND-175-09', 'IND-PLS09 ', 'IND-PLS13 ',
       'INT9-PROYT', 'INT9CONSTR', 'INT9ELECTR', 'INT9G-ECO ',
       'INT9MECANI', 'INT9ORTERR', 'INT9RNYMA ', 'INT9SANEHI',
       'INT9SDIGYT', 'INT9TRANSP', 'MCT-175-09', 'MCT-PLS09 ',
       'MCT-PLS13 ', 'MCT9-OPT  ', 'MEC-175-09', 'MEC-PLS09 ',
       'MEC-PLS13 ', 'MEC9-OPT  ', 'TIVAS     '], dtype=object)

In [5]:
df

,Unnamed: 0,danho,ciclo,Cod.Asign,Asignatura,Cod.Car.Sec,Cod.Curso,Convocatoria,Anho,Semestre,...,Segundo.Par,AOT,Primer.Rec,Segundo.Rec,Nota.Final,Tercer.Par,Asis,Cuarto.Par,4P_60,id_anony
0,0,2012,1,2402,COMBUSTION,INT9MECANI,13,1,2012,1,...,0,0,0,0,NaN,0.0,1.0,NaN,NaN,es_0
1,1,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,...,14,8,0,0,1F-5,0.0,1.0,NaN,NaN,es_1
2,2,2012,1,2402,COMBUSTION,INT9MECANI,13,1,2012,1,...,23,9,0,0,1F-5,0.0,1.0,NaN,NaN,es_2
3,3,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,...,14,8,0,0,"1F-1,2F-2",0.0,1.0,NaN,NaN,es_3
4,4,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,...,4,8,0,0,NaN,0.0,1.0,NaN,NaN,es_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221817,15045,2021,1,5746,PROCESOS DE FABRICACION,MCT9-OPT,13,1,2021,1,...,0,0,0,0,NaN,0.0,1.0,NaN,NaN,es_3105
221818,15046,2021,1,5746,PROCESOS DE FABRICACION,MCT9-OPT,13,1,2021,1,...,26,10,0,0,NaN,0.0,1.0,NaN,NaN,es_2036
221819,15047,2021,1,5746,PROCESOS DE FABRICACION,MCT9-OPT,13,1,2021,1,...,26,10,0,0,1F-5,0.0,1.0,NaN,NaN,es_2397
221820,15048,2021,1,5746,PROCESOS DE FABRICACION,MCT9-OPT,13,1,2021,1,...,0,0,0,0,NaN,0.0,1.0,NaN,NaN,es_2917
221821,15049,2021,1,5746,PROCESOS DE FABRICACION,MCT9-OPT,13,1,2021,1,...,0,0,0,0,NaN,0.0,1.0,NaN,NaN,es_2504

In [6]:
df['Nota.Final'] = df['Nota.Final'].replace(regex=['1F-','2F-','3F-'],value= '')
df['Nota.Final'] = np.where(~(df['Nota.Final'].isnull()),df['Nota.Final'].str.split(','),df['Nota.Final'])
df['Nota.Final']

0            NaN
1            [5]
2            [5]
3         [1, 2]
4            NaN
           ...
221817       NaN
221818       NaN
221819       [5]
221820       NaN
221821       NaN
Name: Nota.Final, Length: 221822, dtype: object

In [7]:
majors = ['CGF','CIV','ECA','ELE','IND','INT','MCT','MEC']
majors_dict = {}
for major in majors:
    condition = df["Cod.Car.Sec"].str[:3] == major
    majors_dict[major] = df[condition]

In [8]:
for major in majors:
    condition = majors_dict[major]['Cod.Curso'] > 4
    majors_dict[major] = majors_dict[major][condition]

In [9]:
%%capture
for major in majors:
    print(majors_dict[major].head())

In [10]:
%%capture
for major in majors:
    print(np.unique(majors_dict[major]["Cod.Curso"]))

In [11]:
print("Number of students in specific courses ")
for major in majors:
    print(major,len(np.unique(majors_dict[major].id_anony.values)))

Number of students in specific courses
CGF 333
CIV 1642
ECA 392
ELE 1242
IND 771
INT 1805
MCT 672
MEC 701

In [12]:
%%capture
if "CB" not in majors:
    majors.append("CB")
print(majors)

In [13]:
condition = df['Cod.Curso'] <= 4
majors_dict["CB"] = df[condition]
majors_dict["CB"] = majors_dict["CB"][majors_dict["CB"]['Cod.Car.Sec'] != "TIVAS     "]
majors_dict["CB"]

,Unnamed: 0,danho,ciclo,Cod.Asign,Asignatura,Cod.Car.Sec,Cod.Curso,Convocatoria,Anho,Semestre,...,Segundo.Par,AOT,Primer.Rec,Segundo.Rec,Nota.Final,Tercer.Par,Asis,Cuarto.Par,4P_60,id_anony
401,401,2012,1,5012,CALCULO 3,CGF-175-09,3,1,2012,1,...,0,0,0,0,NaN,0.0,0.0,NaN,NaN,es_253
402,402,2012,1,5015,FISICA 4,CIV-PLS09,4,1,2012,1,...,13,9,0,0,NaN,0.0,1.0,NaN,NaN,es_254
403,403,2012,1,5015,FISICA 4,CGF-PLS09,4,1,2012,1,...,24,10,0,0,[3],0.0,1.0,NaN,NaN,es_255
404,404,2012,1,5015,FISICA 4,CIV-PLS09,4,1,2012,1,...,0,0,0,0,NaN,0.0,0.0,NaN,NaN,es_256
405,405,2012,1,5015,FISICA 4,CIV-PLS09,4,1,2012,1,...,12,8,0,0,NaN,0.0,0.0,NaN,NaN,es_257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219160,12384,2021,1,13705,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS13,4,1,2021,1,...,0,5,0,0,NaN,0.0,1.0,NaN,NaN,es_4312
219161,12385,2021,1,13705,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS13,4,1,2021,1,...,31,10,0,0,NaN,0.0,1.0,NaN,NaN,es_4108
219162,12386,2021,1,13705,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS13,4,1,2021,1,...,36,8,0,0,NaN,0.0,1.0,NaN,NaN,es_4502
219163,12387,2021,1,13705,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS13,4,1,2021,1,...,0,0,0,0,NaN,0.0,1.0,NaN,NaN,es_4167
219164,12388,2021,1,13705,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS13,4,1,2021,1,...,35,9,0,0,NaN,0.0,1.0,NaN,NaN,es_4519

In [14]:
for major in majors:
    name = "datasets\datos"+"_"+str(major)+".csv"
    majors_dict[major].to_csv(name)

In [15]:
%%capture
for major in majors:
    columns = ["Aprobado","Primer.Par","Segundo.Par","AOT","Primer.Rec","Segundo.Rec","Nota.Final","Asis","id_anony"]
    print(majors_dict[major][columns].describe())
    print("#############################################################")

In [16]:
condition = np.logical_and(majors_dict["CB"]["Asignatura"].values=="COMPUTACION", majors_dict["CB"]["Aprobado"]=="S")
approved = majors_dict["CB"][condition]
approved

,Unnamed: 0,danho,ciclo,Cod.Asign,Asignatura,Cod.Car.Sec,Cod.Curso,Convocatoria,Anho,Semestre,...,Segundo.Par,AOT,Primer.Rec,Segundo.Rec,Nota.Final,Tercer.Par,Asis,Cuarto.Par,4P_60,id_anony
7083,7083,2012,1,9010,COMPUTACION,IND-PLS09,2,1,2012,1,...,21,5,0,0,[4],0.0,1.0,NaN,NaN,es_1092
7085,7085,2012,1,9010,COMPUTACION,MEC-PLS09,2,1,2012,1,...,27,4,0,0,[5],0.0,1.0,NaN,NaN,es_486
7097,7097,2012,1,9010,COMPUTACION,ELE-PLS09,2,1,2012,1,...,27,6,0,0,[5],0.0,1.0,NaN,NaN,es_697
7101,7101,2012,1,9010,COMPUTACION,IND-PLS09,2,1,2012,1,...,15,6,38,0,[4],0.0,1.0,NaN,NaN,es_1112
7102,7102,2012,1,9010,COMPUTACION,IND-PLS09,2,1,2012,1,...,15,6,0,0,[4],0.0,1.0,NaN,NaN,es_1113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197453,4694,2020,1,13011,COMPUTACION,CIV-PLS13,2,1,2020,1,...,5,7,0,0,[3],6.0,1.0,19.0,32.0,es_3767
197456,4697,2020,1,13011,COMPUTACION,IND-PLS13,2,1,2020,1,...,5,8,0,0,[2],3.0,1.0,22.0,37.0,es_4339
197458,4699,2020,1,13011,COMPUTACION,MCT-PLS13,2,1,2020,1,...,6,9,0,0,[3],4.0,1.0,16.0,27.0,es_4530
197459,4700,2020,1,13011,COMPUTACION,CIV-PLS13,2,1,2020,1,...,6,6,0,0,[2],6.0,1.0,13.0,22.0,es_4532
197460,4701,2020,1,13011,COMPUTACION,CIV-PLS13,2,1,2020,1,...,2,7,27,0,[2],3.0,1.0,17.0,28.0,es_4533

In [17]:
condition = np.logical_and(majors_dict["CB"]["Asignatura"].values=="PROGRAMACION ORIENTADA A OBJETOS",majors_dict["CB"]["Cod.Car.Sec"].str[:3]=="MCT")
POO = majors_dict["CB"][condition]
POO

,Unnamed: 0,danho,ciclo,Cod.Asign,Asignatura,Cod.Car.Sec,Cod.Curso,Convocatoria,Anho,Semestre,...,Segundo.Par,AOT,Primer.Rec,Segundo.Rec,Nota.Final,Tercer.Par,Asis,Cuarto.Par,4P_60,id_anony
4710,4710,2012,1,5701,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS09,4,1,2012,1,...,36,10,0,0,[5],0.0,1.0,NaN,NaN,es_1005
4711,4711,2012,1,5701,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS09,4,1,2012,1,...,35,7,0,0,[5],0.0,1.0,NaN,NaN,es_1004
4712,4712,2012,1,5701,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS09,4,1,2012,1,...,32,10,0,0,[5],0.0,1.0,NaN,NaN,es_978
4713,4713,2012,1,5701,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS09,4,1,2012,1,...,34,10,0,0,[5],0.0,1.0,NaN,NaN,es_1006
4714,4714,2012,1,5701,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS09,4,1,2012,1,...,34,10,0,0,[5],0.0,1.0,NaN,NaN,es_185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219160,12384,2021,1,13705,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS13,4,1,2021,1,...,0,5,0,0,NaN,0.0,1.0,NaN,NaN,es_4312
219161,12385,2021,1,13705,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS13,4,1,2021,1,...,31,10,0,0,NaN,0.0,1.0,NaN,NaN,es_4108
219162,12386,2021,1,13705,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS13,4,1,2021,1,...,36,8,0,0,NaN,0.0,1.0,NaN,NaN,es_4502
219163,12387,2021,1,13705,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS13,4,1,2021,1,...,0,0,0,0,NaN,0.0,1.0,NaN,NaN,es_4167
219164,12388,2021,1,13705,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS13,4,1,2021,1,...,35,9,0,0,NaN,0.0,1.0,NaN,NaN,es_4519

In [18]:
computacion = pd.merge(approved, POO, on = ['id_anony'])
computacion

computacion[["Aprobado_x","Aprobado_y"]]

    Aprobado_x Aprobado_y
0            S          N
1            S          N
2            S          S
3            S          S
4            S          S
..         ...        ...
499          S          N
500          S          N
501          S          N
502          S          N
503          S          N

[504 rows x 2 columns]

In [19]:
#Hasta aca son cosas que hice, a filtrar

new_df=pd.DataFrame(columns=["Id","First attemp year","First attemp period ","Pass year","Pass period"])
for student in students:
    student_dict = {} 
    df[df.id_anony.values==df]
    if(np.sum(registro["Cod.Curso"].values==1)>=1 and np.sum(registro["Cod.Curso"].values==4)>=1):
        if()
            break

SyntaxError: expected ':' (2752153385.py, line 8)

In [ ]:
registro

In [ ]:
carreraP.info()

In [ ]:
flagFirma2011=carreraP["Anho.Firma"]==2011

carreraPL=carreraP[~flagFirma2011]

In [ ]:
carreraPL.info()

In [ ]:
carreraNP.head()

In [ ]:
carreraPLN.info()

In [ ]:
carreraPLN[["Aprobado_x","Aprobado_y"]].values[0:10]

In [ ]:
for asig in asignaturas:
    flag=df.Asignatura.values==asig
    print(np.sum(df["Aprobado"][flag]=="S"))