In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, SGDClassifier

In [2]:
file_path = "datasets\datos_CB.csv"
student_data = pd.read_csv(file_path)
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97341 entries, 0 to 97340
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  97341 non-null  int64
 1   Unnamed: 0    97341 non-null  int64
 2   ciclo         97341 non-null  int64
 3   Cod.Asign     97341 non-null  int64
 4   Asignatura    97341 non-null  object
 5   Cod.Car.Sec   97341 non-null  object
 6   Cod.Curso     97341 non-null  int64
 7   Convocatoria  97341 non-null  int64
 8   Anho          97341 non-null  int64
 9   Semestre      97341 non-null  int64
 10  Aprobado      97341 non-null  int64
 11  Anho.Firma    97341 non-null  int64
 12  Primer.Par    97341 non-null  int64
 13  Segundo.Par   97341 non-null  int64
 14  AOT           97341 non-null  int64
 15  Primer.Rec    97341 non-null  int64
 16  Segundo.Rec   97341 non-null  int64
 17  Nota.Final    97341 non-null  object
 18  Asis          97341 non-null  float64
 19  4P_60         0 non-null      float64
 20  id_anony      97341 non-null  object
dtypes: float64(2), int64(15), object(4)
memory usage: 15.6+ MB

In [3]:
columns = ['Unnamed: 0.1', 'Unnamed: 0', "Cod.Asign", 'Asis', '4P_60',"Cod.Curso", "Cod.Car.Sec", "Semestre", "id_anony"] #el id_anony podriamos usar despues
if columns[0] in student_data:
    student_data.drop(columns,axis=1, inplace= True)
student_data.head()

,ciclo,Asignatura,Convocatoria,Anho,Aprobado,Anho.Firma,Primer.Par,Segundo.Par,AOT,Primer.Rec,Segundo.Rec,Nota.Final
0,1,CALCULO 3,1,2012,0,0,0,0,0,0,0,[0]
1,1,FISICA 4,1,2012,0,2012,19,13,9,0,0,[0]
2,1,FISICA 4,1,2012,1,2012,17,24,10,0,0,[3]
3,1,FISICA 4,1,2012,0,0,0,0,0,0,0,[0]
4,1,FISICA 4,1,2012,0,0,16,12,8,0,0,[0]

In [4]:
#todo esto puede ser un diccionario con numpy unique y queda re loco
course = "ESTATICA"
condition = student_data["Asignatura"] == course
course_data = student_data[condition]
print(course_data.head())
course_data.drop(["Asignatura"],axis=1, inplace = True)
course_data.head()

      ciclo Asignatura  Convocatoria  Anho  Aprobado  Anho.Firma  Primer.Par  \
5258      2   ESTATICA             1  2012         0           0           2
5259      2   ESTATICA             1  2012         0           0           6
5260      2   ESTATICA             1  2012         1        2012          12
5261      2   ESTATICA             1  2012         0           0           1
5262      2   ESTATICA             1  2012         0           0           0

      Segundo.Par  AOT  Primer.Rec  Segundo.Rec Nota.Final
5258           13    0           0            0        [0]
5259           11    0           0            0        [0]
5260           24    0           0            0        [2]
5261            1    0           0            0        [0]
5262            0    0           0            0        [0]

C:\Users\josec\AppData\Local\Temp\ipykernel_13696\1374848725.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  course_data.drop(["Asignatura"],axis=1, inplace = True)

,ciclo,Convocatoria,Anho,Aprobado,Anho.Firma,Primer.Par,Segundo.Par,AOT,Primer.Rec,Segundo.Rec,Nota.Final
5258,2,1,2012,0,0,2,13,0,0,0,[0]
5259,2,1,2012,0,0,6,11,0,0,0,[0]
5260,2,1,2012,1,2012,12,24,0,0,0,[2]
5261,2,1,2012,0,0,1,1,0,0,0,[0]
5262,2,1,2012,0,0,0,0,0,0,0,[0]

In [5]:
%%capture
print(np.unique(course_data["Anho"]))

In [6]:
course_data["Primer.Par"].describe()

count    4824.000000
mean        9.337894
std         5.849116
min         0.000000
25%         5.000000
50%        10.000000
75%        14.000000
max        24.000000
Name: Primer.Par, dtype: float64

In [7]:
approved = len(course_data[course_data["Aprobado"]==1])
not_approved = len(course_data[course_data["Aprobado"] == 0])
total = len(course_data["Aprobado"])
print(f"Approved: {approved}\nNot approved: {not_approved}\nTotal: {total}")

Approved: 1818
Not approved: 3006
Total: 4824

In [8]:
df_train, df_test= train_test_split(course_data, test_size=0.2, random_state=0)
print(df_train.shape)
print(df_test.shape)


# Saving our training and testing data sets
'''
# Training Set
train_save_path = 'student_train.csv'
train_df.to_csv(train_save_path, index=False)

# Testing Set
test_save_path = os.path.join(os.getcwd(), 'student', 'student-por-test.csv')
test_df.to_csv(test_save_path, index=False)
'''

(3859, 11)
(965, 11)

"\n# Training Set\ntrain_save_path = 'student_train.csv'\ntrain_df.to_csv(train_save_path, index=False)\n\n# Testing Set\ntest_save_path = os.path.join(os.getcwd(), 'student', 'student-por-test.csv')\ntest_df.to_csv(test_save_path, index=False)\n"

In [9]:
# Dummy Encoding the Data
# Coverting categorical data to numerical dummy variables
#train_dummies_df = pd.get_dummies(df_train)
#test_dummies_df = pd.get_dummies(df_test)

# Separating training data into predictors and predictand
use_cols = [column for column in df_train.columns if column not in ['Aprobado']]
train_x = df_train[use_cols]
train_y = df_train['Aprobado']

# Separating testing data into predictors and predictand
test_x = df_test[use_cols]
test_y = df_test['Aprobado']

In [10]:
train_x.head()
new_train_x = train_x.drop(['Nota.Final'],axis=1)

In [11]:
train_y.head()

5757     0
58811    0
59840    0
46862    0
36301    1
Name: Aprobado, dtype: int64

In [12]:
train_x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3859 entries, 5757 to 58585
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ciclo         3859 non-null   int64
 1   Convocatoria  3859 non-null   int64
 2   Anho          3859 non-null   int64
 3   Anho.Firma    3859 non-null   int64
 4   Primer.Par    3859 non-null   int64
 5   Segundo.Par   3859 non-null   int64
 6   AOT           3859 non-null   int64
 7   Primer.Rec    3859 non-null   int64
 8   Segundo.Rec   3859 non-null   int64
 9   Nota.Final    3859 non-null   object
dtypes: int64(9), object(1)
memory usage: 331.6+ KB

In [13]:
def process(mod, x, y, test_x, test_y,course):
    model = mod.fit(x,y)
    predicted_y = model.predict(test_x)
    score = model.score(test_x,test_y)
    print(f"Model score for {course.lower()}: {score}")
    print(f"Parameters: \n{model.feature_names_in_}")
    print(f"iterations: {model.n_iter_}")
    print(f"coefs: {model.coef_}")

In [14]:
default_LR = LogisticRegression(max_iter=1000)

# Fitting the model
model = default_LR.fit(new_train_x, train_y)

# Plotting the CV Accuracy with respect to C values
#fig, axs = plt.subplots(1, 1, figsize=(14, 7))
#axs.plot(new_train_x, train_y)
#axs.grid()

predicted_y = model.predict(test_x.drop(['Nota.Final'],axis=1))

score = model.score(test_x.drop(['Nota.Final'],axis=1),test_y)
print(f"Model score for {course.lower()}: {score}")
print(f"Parameters: \n{model.feature_names_in_}")
print(f"iterations: {model.n_iter_}")
print(f"coefs: {model.coef_}")
#logRegSDAccuracyNo0s = accuracy_score(logRegCVSDNo0s.predict(test_x_standardized), test_y)

Model score for estatica: 0.8797927461139896
Parameters:
['ciclo' 'Convocatoria' 'Anho' 'Anho.Firma' 'Primer.Par' 'Segundo.Par'
 'AOT' 'Primer.Rec' 'Segundo.Rec']
iterations: [278]
coefs: [[ 0.1340516  -0.67827628 -0.00428343  0.00359383  0.09155825  0.08352286
   0.08459861  0.00870394 -0.02397949]]

In [15]:
SGDC = SGDClassifier(loss='log_loss')

model = SGDC.fit(new_train_x, train_y)

predicted_y = model.predict(test_x.drop(['Nota.Final'],axis=1))

score = model.score(test_x.drop(['Nota.Final'],axis=1),test_y)
print(f"Model score for {course.lower()}: {score}")
print(f"Parameters: \n{model.feature_names_in_}")
print(f"iterations: {model.n_iter_}")
print(f"coefs: {model.coef_}")

Model score for estatica: 0.8404145077720208
Parameters:
['ciclo' 'Convocatoria' 'Anho' 'Anho.Firma' 'Primer.Par' 'Segundo.Par'
 'AOT' 'Primer.Rec' 'Segundo.Rec']
iterations: 79
coefs: [[   53.84616049   -78.77889178  -154.01856737    82.13624803
   2820.88464926  5712.13518704  1359.15124567  -270.23842878
  -2057.54266658]]

In [16]:
SGDC = SGDClassifier(loss="perceptron", eta0=1, learning_rate="constant", penalty='l2')

model = SGDC.fit(new_train_x, train_y)

predicted_y = model.predict(test_x.drop(['Nota.Final'],axis=1))

score = model.score(test_x.drop(['Nota.Final'],axis=1),test_y)
print(f"Model score for {course.lower()}: {score}")
print(f"Parameters: \n{model.feature_names_in_}")
print(f"iterations: {model.n_iter_}")
print(f"coefs: {model.coef_}")

Model score for estatica: 0.6321243523316062
Parameters:
['ciclo' 'Convocatoria' 'Anho' 'Anho.Firma' 'Primer.Par' 'Segundo.Par'
 'AOT' 'Primer.Rec' 'Segundo.Rec']
iterations: 16
coefs: [[   57.03573481   -92.87294728 -2768.3495556   -243.29756659
   3796.10343007  7908.68942921  1748.08594298 -2397.6957439
  -3318.74438631]]

# Now trying droping some labels

In [17]:
new_train_x = new_train_x.drop(['ciclo','Segundo.Par','AOT','Primer.Rec','Segundo.Rec'],axis=1)
new_test_x = test_x.drop(['ciclo','Segundo.Par','AOT','Primer.Rec','Segundo.Rec','Nota.Final'],axis=1)

In [ ]:
new_train_x['Anho.Firma'] = np.where(new_train_x['Anho.Firma']==0,new_train_x['Anho'],new_train_x['Anho.Firma'])
new_test_x['Anho.Firma'] = np.where(new_test_x['Anho.Firma']==0,new_test_x['Anho'],new_test_x['Anho.Firma'])
new_train_x['Anhos.Cursando'] = new_train_x['Anho'] - new_train_x['Anho.Firma']
new_test_x['Anhos.Cursando'] = new_test_x['Anho'] - new_test_x['Anho.Firma']
new_train_x = new_train_x.drop(['Anho','Anho.Firma'],axis=1)
new_test_x = new_test_x.drop(['Anho','Anho.Firma'],axis=1)

In [ ]:
new_train_x.describe()

       Convocatoria         Anho   Primer.Par  Anhos.Cursando
count   3859.000000  3859.000000  3859.000000     3859.000000
mean       1.155740  2016.026432     9.275719        0.100803
std        0.362656     2.634820     5.843932        0.301107
min        1.000000  2012.000000     0.000000        0.000000
25%        1.000000  2014.000000     5.000000        0.000000
50%        1.000000  2016.000000    10.000000        0.000000
75%        1.000000  2018.000000    14.000000        0.000000
max        2.000000  2021.000000    24.000000        1.000000

In [ ]:
LR = LogisticRegression()
process(LR,new_train_x,train_y,new_test_x,test_y,course)

Model score for estatica: 0.7637305699481866
Parameters:
['Convocatoria' 'Anho' 'Primer.Par' 'Anhos.Cursando']
iterations: [68]
coefs: [[-0.34591806 -0.0015599   0.28358987  1.18521333]]