In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
file_path = "datasets\datos_CB.csv"
student_data = pd.read_csv(file_path)
student_data.head()

,Unnamed: 0.1,Unnamed: 0,danho,ciclo,Cod.Asign,Asignatura,Cod.Car.Sec,Cod.Curso,Convocatoria,Anho,...,Segundo.Par,AOT,Primer.Rec,Segundo.Rec,Nota.Final,Tercer.Par,Asis,Cuarto.Par,4P_60,id_anony
0,401,401,2012,1,5012,CALCULO 3,CGF-175-09,3,1,2012,...,0,0,0,0,NaN,0.0,0.0,NaN,NaN,es_253
1,402,402,2012,1,5015,FISICA 4,CIV-PLS09,4,1,2012,...,13,9,0,0,NaN,0.0,1.0,NaN,NaN,es_254
2,403,403,2012,1,5015,FISICA 4,CGF-PLS09,4,1,2012,...,24,10,0,0,['3'],0.0,1.0,NaN,NaN,es_255
3,404,404,2012,1,5015,FISICA 4,CIV-PLS09,4,1,2012,...,0,0,0,0,NaN,0.0,0.0,NaN,NaN,es_256
4,405,405,2012,1,5015,FISICA 4,CIV-PLS09,4,1,2012,...,12,8,0,0,NaN,0.0,0.0,NaN,NaN,es_257