In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv("datos\datosConcatenados.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221822 entries, 0 to 221821
Data columns (total 23 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    221822 non-null  int64
 1   danho         221822 non-null  int64
 2   ciclo         221822 non-null  int64
 3   Cod.Asign     221822 non-null  int64
 4   Asignatura    221822 non-null  object
 5   Cod.Car.Sec   221822 non-null  object
 6   Cod.Curso     221822 non-null  int64
 7   Convocatoria  221822 non-null  int64
 8   Anho          221822 non-null  int64
 9   Semestre      221822 non-null  int64
 10  Aprobado      221822 non-null  object
 11  Anho.Firma    221822 non-null  int64
 12  Primer.Par    221822 non-null  int64
 13  Segundo.Par   221822 non-null  int64
 14  AOT           221822 non-null  int64
 15  Primer.Rec    221822 non-null  int64
 16  Segundo.Rec   221822 non-null  int64
 17  Nota.Final    137062 non-null  object
 18  Tercer.Par    221822 non-null  float64
 19  Asis          221822 non-null  float64
 20  Cuarto.Par    28037 non-null   float64
 21  4P_60         28037 non-null   float64
 22  id_anony      221822 non-null  object
dtypes: float64(4), int64(14), object(5)
memory usage: 38.9+ MB

In [4]:
df["Asignatura"] = df["Asignatura"].str.replace(' +', ' ')
df["Asignatura"] = df["Asignatura"].str.strip()
np.unique(df["Asignatura"])
np.unique(df["Cod.Car.Sec"])

C:\Users\josec\AppData\Local\Temp\ipykernel_27352\884411130.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Asignatura"] = df["Asignatura"].str.replace(' +', ' ')

array(['CGF-175-09', 'CGF-PLS09 ', 'CGF-PLS13 ', 'CIV-175-09',
       'CIV-PLS09 ', 'CIV-PLS13 ', 'ECA-175-09', 'ECA-PLS09 ',
       'ECA-PLS13 ', 'ECA9-OPT  ', 'ELE-175-09', 'ELE-PLS09 ',
       'ELE-PLS13 ', 'IND-175-09', 'IND-PLS09 ', 'IND-PLS13 ',
       'INT9-PROYT', 'INT9CONSTR', 'INT9ELECTR', 'INT9G-ECO ',
       'INT9MECANI', 'INT9ORTERR', 'INT9RNYMA ', 'INT9SANEHI',
       'INT9SDIGYT', 'INT9TRANSP', 'MCT-175-09', 'MCT-PLS09 ',
       'MCT-PLS13 ', 'MCT9-OPT  ', 'MEC-175-09', 'MEC-PLS09 ',
       'MEC-PLS13 ', 'MEC9-OPT  ', 'TIVAS     '], dtype=object)

In [5]:
df['Nota.Final'] = df['Nota.Final'].replace(regex=['1F-','2F-','3F-'],value= '')
df['Nota.Final'] = df['Nota.Final'].replace(regex=['ME-','C-','F','D-'],value= '')
df['Nota.Final'] = np.where(~(df['Nota.Final'].isnull()),df['Nota.Final'].str.split(','),df['Nota.Final'])

In [6]:
isna = df['Nota.Final'].isna()
df.loc[isna,'Nota.Final'] = pd.Series([[0]] * isna.sum()).values

In [7]:
df['Nota.Final'] = [[int(i) for i in x] for x in df['Nota.Final']]

In [8]:
for item in (df['Nota.Final'][1]):
    print(type(item))

<class 'int'>

In [9]:
condition = df['Cuarto.Par'].isnull()
df = df[condition]
condition = df['Tercer.Par'] == 0
df = df[condition]
df

,Unnamed: 0,danho,ciclo,Cod.Asign,Asignatura,Cod.Car.Sec,Cod.Curso,Convocatoria,Anho,Semestre,...,Segundo.Par,AOT,Primer.Rec,Segundo.Rec,Nota.Final,Tercer.Par,Asis,Cuarto.Par,4P_60,id_anony
0,0,2012,1,2402,COMBUSTION,INT9MECANI,13,1,2012,1,...,0,0,0,0,[0],0.0,1.0,NaN,NaN,es_0
1,1,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,...,14,8,0,0,[5],0.0,1.0,NaN,NaN,es_1
2,2,2012,1,2402,COMBUSTION,INT9MECANI,13,1,2012,1,...,23,9,0,0,[5],0.0,1.0,NaN,NaN,es_2
3,3,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,...,14,8,0,0,"[1, 2]",0.0,1.0,NaN,NaN,es_3
4,4,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,...,4,8,0,0,[0],0.0,1.0,NaN,NaN,es_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221817,15045,2021,1,5746,PROCESOS DE FABRICACION,MCT9-OPT,13,1,2021,1,...,0,0,0,0,[0],0.0,1.0,NaN,NaN,es_3105
221818,15046,2021,1,5746,PROCESOS DE FABRICACION,MCT9-OPT,13,1,2021,1,...,26,10,0,0,[0],0.0,1.0,NaN,NaN,es_2036
221819,15047,2021,1,5746,PROCESOS DE FABRICACION,MCT9-OPT,13,1,2021,1,...,26,10,0,0,[5],0.0,1.0,NaN,NaN,es_2397
221820,15048,2021,1,5746,PROCESOS DE FABRICACION,MCT9-OPT,13,1,2021,1,...,0,0,0,0,[0],0.0,1.0,NaN,NaN,es_2917
221821,15049,2021,1,5746,PROCESOS DE FABRICACION,MCT9-OPT,13,1,2021,1,...,0,0,0,0,[0],0.0,1.0,NaN,NaN,es_2504

In [10]:
df.drop(['Tercer.Par','Cuarto.Par'],axis=1, inplace = True)

In [11]:
df = df.drop(['danho'],axis=1)

In [12]:
print(df["Aprobado"].head())
df.Aprobado = pd.Categorical(df.Aprobado)
df.Aprobado = df.Aprobado.cat.codes
df["Aprobado"].head()

0    N
1    S
2    S
3    S
4    N
Name: Aprobado, dtype: object

0    0
1    1
2    1
3    1
4    0
Name: Aprobado, dtype: int8

In [ ]:
majors = ['CGF','CIV','ECA','ELE','IND','INT','MCT','MEC']
majors_dict = {}
for major in majors:
    condition = df["Cod.Car.Sec"].str[:3] == major
    majors_dict[major] = df[condition]

In [ ]:
for major in majors:
    condition = majors_dict[major]['Cod.Curso'] > 4
    majors_dict[major] = majors_dict[major][condition]

In [ ]:
%%capture
for major in majors:
    print(majors_dict[major].head())

In [ ]:
%%capture
for major in majors:
    print(np.unique(majors_dict[major]["Cod.Curso"]))

In [ ]:
print("Number of students in specific courses ")
for major in majors:
    print(major,len(np.unique(majors_dict[major].id_anony.values)))

In [ ]:
%%capture
if "CB" not in majors:
    majors.append("CB")
print(majors)

In [ ]:
condition = df['Cod.Curso'] <= 4
majors_dict["CB"] = df[condition]
majors_dict["CB"] = majors_dict["CB"][majors_dict["CB"]['Cod.Car.Sec'] != "TIVAS     "]
majors_dict["CB"]

In [ ]:
for major in majors:
    name = "datasets\datos"+"_"+str(major)+".csv"
    majors_dict[major].to_csv(name)

In [ ]:
%%capture
for major in majors:
    columns = ["Aprobado","Primer.Par","Segundo.Par","AOT","Primer.Rec","Segundo.Rec","Nota.Final","Asis","id_anony"]
    print(majors_dict[major][columns].describe())
    print("#############################################################")

In [ ]:
condition = np.logical_and(majors_dict["CB"]["Asignatura"].values=="COMPUTACION", majors_dict["CB"]["Aprobado"]=="S")
approved = majors_dict["CB"][condition]
approved

In [ ]:
condition = np.logical_and(majors_dict["CB"]["Asignatura"].values=="PROGRAMACION ORIENTADA A OBJETOS",majors_dict["CB"]["Cod.Car.Sec"].str[:3]=="MCT")
POO = majors_dict["CB"][condition]
POO

In [ ]:
#Hasta aca son cosas que hice, a filtrar

new_df=pd.DataFrame(columns=["Id","First attemp year","First attemp period ","Pass year","Pass period"])
for student in students:
    student_dict = {} 
    df[df.id_anony.values==df]
    if(np.sum(registro["Cod.Curso"].values==1)>=1 and np.sum(registro["Cod.Curso"].values==4)>=1):
        if()
            break

In [ ]:
registro

In [ ]:
carreraP.info()

In [ ]:
flagFirma2011=carreraP["Anho.Firma"]==2011

carreraPL=carreraP[~flagFirma2011]

In [ ]:
carreraPL.info()

In [ ]:
carreraNP.head()

In [ ]:
carreraPLN.info()

In [ ]:
carreraPLN[["Aprobado_x","Aprobado_y"]].values[0:10]

In [ ]:
for asig in asignaturas:
    flag=df.Asignatura.values==asig
    print(np.sum(df["Aprobado"][flag]=="S"))